body {
    background: #f1f4f9;
}

.card {
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#receipt {
    background: #e9ffe9;
    padding: 15px;
    border-radius: 5px;
}
