/* flex-direct row */
.box1{
    background-color: forestgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border: 1px solid black;

}
.item{
    height: 65px;
    width: 65px;
    border: 1px solid black;
    background-color: cadetblue;
    color: white;
    margin: 10px;
    padding: 10px;
}
.box2{
    display: flex;
    background-color: gainsboro;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border: 1px solid black;

}